Sistema Gestión Cursos Online.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-enrollment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "313a85c1-773a-4e81-9184-5833d9397e38",
      "name": "Webhook Inscripción",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -768,
        160
      ],
      "webhookId": "99fa0ef9-9339-41d5-a699-27a6108a54b5"
    },
    {
      "parameters": {
        "functionCode": "// Procesar datos de inscripción con validaciones\nconst enrollmentData = $input.first().json.body.data;\n\n// Validar datos requeridos\nif (!enrollmentData.student_id || !enrollmentData.course_id) {\n  throw new Error('Faltan datos requeridos: student_id y course_id');\n}\n\n// Guardar en base de datos\nconst enrollment = {\n  student_id: enrollmentData.student_id,\n  course_id: enrollmentData.course_id,\n  enrollment_date: new Date().toISOString(),\n  progress_percentage: 0,\n  completion_status: 'in_progress'\n};\n\nreturn [{ json: enrollment }];"
      },
      "id": "a53ba5c0-7d3c-43a4-b340-b62e130e86e5",
      "name": "Procesar Inscripción",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -288,
        96
      ]
    },
    {
      "parameters": {
        "tableId": "enrollments",
        "dataToSend": "autoMapInputData"
      },
      "id": "68d64e31-bf0c-4e00-bd39-6fdd3f4068f2",
      "name": "Guardar Inscripción",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        144
      ],
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.student_id }}"
            }
          ]
        }
      },
      "id": "bfe7b70f-c51e-44c9-8576-8f5201d49423",
      "name": "Obtener Info Estudiante",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1056,
        144
      ],
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "get",
        "tableId": "courses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $input.first().json.course_id }}"
            }
          ]
        }
      },
      "id": "28e0376a-7b78-4c8b-bc9e-ee50c440f441",
      "name": "Obtener Info Curso",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1056,
        -64
      ],
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=¡Bienvenido al curso {{ $('Obtener Info Curso').item.json.name }}!",
        "message": "=Hola {{ $('Obtener Info Estudiante').item.json.first_name }},\n\n¡Te damos la bienvenida al curso {{ $('Obtener Info Curso').item.json.name }}!\n\n📚 Detalles del curso:\n- Duración: {{ $('Obtener Info Curso').item.json.duration_days }} días\n- Precio: ${{ $('Obtener Info Curso').item.json.price }}\n\n🎯 Próximos pasos:\n1. Accede a la plataforma con tu cuenta\n2. Explora el contenido del curso\n3. Completa las actividades según tu ritmo\n\n¡Mucho éxito en tu aprendizaje!\n\nEquipo de Cursos Online",
        "toList": [
          "={{ $input.first().json.email }}"
        ],
        "additionalFields": {}
      },
      "id": "ad4ac6c5-417b-4328-8ced-93512e1e18bc",
      "name": "Enviar Email Bienvenida",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1472,
        112
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "s5WeaUvnBRfTF4gQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "tableId": "exam_results",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "student_id",
              "fieldValue": "={{ $('Es Corrección Examen?').item.json.body.data.student_id }}"
            },
            {
              "fieldId": "exam_id",
              "fieldValue": "={{ $('Es Corrección Examen?').item.json.body.data.exam_id }}"
            },
            {
              "fieldId": "score",
              "fieldValue": "={{ $('Validar y Limpiar JSON').item.json.score }}"
            },
            {
              "fieldId": "answers",
              "fieldValue": "={{ JSON.stringify($('Validar y Limpiar JSON').item.json.answers) }}"
            },
            {
              "fieldId": "passed",
              "fieldValue": "={{ $('Validar y Limpiar JSON').item.json.passed }}"
            },
            {
              "fieldId": "corrected_by_ai",
              "fieldValue": "={{ $('Validar y Limpiar JSON').item.json.corrected_by_ai }}"
            },
            {
              "fieldId": "feedback",
              "fieldValue": "={{ \n  $json.answers\n    .map(a => \n      `**Pregunta:** ${a.question}\\n` +\n      `**Tu respuesta:** ${a.student_answer}\\n` +\n      `**Respuesta correcta:** ${a.correct_answer}\\n` +\n      `**Explicación:** ${a.explanation}`\n    )\n    .join('\\n\\n')\n}}"
            },
            {
              "fieldId": "total_questions",
              "fieldValue": "={{    JSON.parse($json.content.parts[0].text.replace(/```json\\n|```/g, ''))   .answers.length }}"
            },
            {
              "fieldId": "correct_answers",
              "fieldValue": "={{    JSON.parse($json.content.parts[0].text.replace(/```json\\n|```/g, ''))   .answers   .filter(a => a.is_correct)   .length }}"
            }
          ]
        }
      },
      "id": "8b0af967-e07f-43e7-b7d0-071137593dd2",
      "name": "Guardar Resultado Examen",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        288
      ],
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "certificates",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "enrollment_id",
              "fieldValue": "={{ $('Obtener Datos de Inscripción').item.json.id }}"
            },
            {
              "fieldId": "verification_code",
              "fieldValue": "={{ \n  'CERT-' +\n  new Date().toISOString().replace(/[-:.TZ]/g, '') + '-' +\n  Math.random().toString(36).substring(2, 11).toUpperCase()\n}}"
            },
            {
              "fieldId": "issue_date",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "41d55b6c-aab6-434e-8168-b097f2bc88f3",
      "name": "Guardar Certificado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1248,
        640
      ],
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8ce63934-2669-4846-85ee-ee40d8cfe575",
      "name": "Response Node",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3360,
        768
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un asistente de corrección de exámenes y un tutor amigable.\n\nVoy a pasarte una lista de preguntas de un examen, donde cada item incluye:\n- question: La pregunta\n- correct_answer: La respuesta correcta\n- student_answer: La respuesta del estudiante\n\nDATOS DEL EXAMEN:\nPuntuación para aprobar: {{ $json.body.data.passing_score }}\n\nPREGUNTAS Y RESPUESTAS:\n{{ JSON.stringify($json.body.data.submission) }}\n\nINSTRUCCIONES:\n1. Calcula la puntuación final de 0 a 100\n2. Determina si aprobó (true/false) comparando con passing_score\n3. Para CADA pregunta, genera feedback con:\n   - is_correct: true o false\n   - explanation: Explicación pedagógica y amigable\n\nIMPORTANTE: Responde ÚNICAMENTE con un objeto JSON válido, sin markdown ni código adicional.\n\nFORMATO DE RESPUESTA (copiar exactamente esta estructura):\n{\n  \"score\": <número_de_0_a_100>,\n  \"passed\": <true_o_false>,\n  \"corrected_by_ai\": true,\n  \"answers\": [\n    {\n      \"question\": \"<copia_la_pregunta>\",\n      \"student_answer\": \"<copia_respuesta_estudiante>\",\n      \"correct_answer\": \"<copia_respuesta_correcta>\",\n      \"is_correct\": <true_o_false>,\n      \"explanation\": \"<explicación_amigable_y_pedagógica>\"\n    }\n  ]\n}\n\nEJEMPLO:\n{\n  \"score\": 75,\n  \"passed\": true,\n  \"corrected_by_ai\": true,\n  \"answers\": [\n    {\n      \"question\": \"¿Cuál es la capital de Francia?\",\n      \"student_answer\": \"París\",\n      \"correct_answer\": \"París\",\n      \"is_correct\": true,\n      \"explanation\": \"¡Excelente! París es correctamente la capital de Francia.\"\n    }\n  ]\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        288
      ],
      "id": "2e5958b5-bb62-4106-9868-cd78e71927f3",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "xFLlJhCy433JeoTS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "749c6673-b4a5-49ba-b843-a877089a69c6",
              "leftValue": "={{ $json.body.workflow_type }}",
              "rightValue": "enrollment",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        160
      ],
      "id": "55449ef7-24fe-48c8-9a3c-a5d5b193baf8",
      "name": "Es Inscripción?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "23b5a4e0-399e-48bc-b38a-632cfdc17fc2",
              "leftValue": "={{ $json.body.workflow_type }}",
              "rightValue": "exam_correction",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        256
      ],
      "id": "3422503a-db6c-4d45-bf4f-bfc2c95bf6fa",
      "name": "Es Corrección Examen?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5d1d358-5646-4787-b15d-f6bfb97063c3",
              "leftValue": "={{ $json.body.workflow_type }}",
              "rightValue": "certificate_generation",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        544
      ],
      "id": "5adccb9f-2286-4503-966f-f7a19424734e",
      "name": "Es Generación Certificado?"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1248,
        64
      ],
      "id": "76310b96-79e8-40c2-b927-38c41ff7dfc5",
      "name": "Merge",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "enrollments",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "student_id",
              "condition": "eq",
              "keyValue": "={{ $json.student_id }}"
            },
            {
              "keyName": "course_id",
              "condition": "eq",
              "keyValue": "={{ $json.course_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        96
      ],
      "id": "c58aa77c-932f-4470-9c89-dd1c3ff74c6e",
      "name": "Verificar Inscripción Existente",
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6457b283-177f-4974-afe5-31dc67df52fd",
              "leftValue": "={{ $json.length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        96
      ],
      "id": "3b07084d-d04c-46f2-9d09-14deb675e6a0",
      "name": "¿Ya está inscrito?"
    },
    {
      "parameters": {
        "errorMessage": "El estudiante ya está inscrito en este curso"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "3eac1c72-081d-4787-9f2e-fffe2af36529",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "jsCode": "// Obtener respuesta de Gemini\nlet responseText = $input.first().json.content.parts[0].text;\n\n// Limpiar markdown si existe\nresponseText = responseText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n// Intentar parsear JSON\nlet parsedData;\ntry {\n  parsedData = JSON.parse(responseText);\n} catch (error) {\n  throw new Error(`Error parseando JSON de Gemini: ${error.message}\\nRespuesta: ${responseText}`);\n}\n\n// Validar estructura requerida\nif (!parsedData.score && parsedData.score !== 0) {\n  throw new Error('Falta campo requerido: score');\n}\n\nif (typeof parsedData.passed !== 'boolean') {\n  throw new Error('Falta campo requerido: passed');\n}\n\nif (!Array.isArray(parsedData.answers)) {\n  throw new Error('Falta campo requerido: answers (debe ser array)');\n}\n\n// Validar que score esté en rango válido\nif (parsedData.score < 0 || parsedData.score > 100) {\n  parsedData.score = Math.max(0, Math.min(100, parsedData.score));\n}\n\n// Retornar datos validados\nreturn [{ json: parsedData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        288
      ],
      "id": "9d141b64-8f1c-43c0-8fa0-ade3dba306a8",
      "name": "Validar y Limpiar JSON"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "enrollments",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "student_id",
              "condition": "eq",
              "keyValue": "={{ $('Es Corrección Examen?').item.json.body.data.student_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1024,
        368
      ],
      "id": "3ca970af-46cb-4810-8f8b-048b0802e2cf",
      "name": "Obtener Inscripción del Estudiante\"",
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const enrollment = $input.first().json;\nconst examPassed = $('Validar y Limpiar JSON').item.json.passed;\n\n// Si aprobó el examen y el progreso es 100%, disparar certificado\nif (examPassed && enrollment.progress_percentage >= 100) {\n  return [{\n    json: {\n      trigger_certificate: true,\n      enrollment_id: enrollment.id,\n      student_id: enrollment.student_id,\n      course_id: enrollment.course_id\n    }\n  }];\n}\n\nreturn [{ json: { trigger_certificate: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        336
      ],
      "id": "fa8f8743-f4b4-48c5-a0b8-7cf1a682790a",
      "name": "Verificar si Completó Curso"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "64a6637d-6f85-4406-a01c-a4e338c2ebb5",
              "leftValue": "={{ $json.trigger_certificate}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        352
      ],
      "id": "a80fe6db-22bd-40f6-bab6-711028c12dfb",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "enrollments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body && $json.body.data ? $json.body.data.enrollment_id : $json.enrollment_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        608
      ],
      "id": "7d3d19fb-deb5-42b2-9560-203405440379",
      "name": "Obtener Datos de Inscripción",
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Obtener Datos de Inscripción').item.json.student_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        576
      ],
      "id": "d9ad0029-eae2-45df-8afe-41e0a02cb8d0",
      "name": "Obtener Datos del Estudiante\"",
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "courses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Obtener Datos de Inscripción').item.json.course_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        624
      ],
      "id": "30a50627-4e00-4271-bf63-b9a071e12272",
      "name": "Obtener Datos del Curso",
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Obtener Datos del Estudiante\"').item.json.email }}",
        "subject": "=¡Felicitaciones! Has completado {{ $('Obtener Datos del Curso').item.json.name }}",
        "emailType": "text",
        "message": "=¡Felicitaciones {{ $('Obtener Datos del Estudiante\"').item.json.first_name }} {{ $('Obtener Datos del Estudiante\"').item.json.last_name }}!  Has completado exitosamente el curso: {{ $('Obtener Datos del Curso').item.json.name }} 🎓 Tu certificado está listo para descargar.  Código de Verificación: {{ $('Guardar Certificado').item.json.verification_code }}  Puedes descargar tu certificado desde tu dashboard de estudiante en la plataforma.  Para verificar la autenticidad de tu certificado, usa el código de verificación en nuestra página de verificación.  ¡Felicitaciones por tu logro!  Equipo de Cursos Online",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1744,
        640
      ],
      "id": "32d2e2b4-da7d-47a7-932b-53bdd0a32a9c",
      "name": "Enviar Certificado por Email",
      "webhookId": "c7b886a1-1501-49f0-9985-76c20c1ed9e7",
      "credentials": {
        "gmailOAuth2": {
          "id": "s5WeaUvnBRfTF4gQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-payment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        816
      ],
      "id": "98e707fb-14b0-4ffb-9455-83099633f818",
      "name": "Webhook Pago",
      "webhookId": "2bee968a-7271-4d0a-ac8a-f4abb5b919a6"
    },
    {
      "parameters": {
        "jsCode": "const paymentData = $input.first().json.body.data;\n\n// Validar datos requeridos\nif (!paymentData.student_id || !paymentData.course_id || !paymentData.transaction_id) {\n  throw new Error('Faltan datos requeridos del pago');\n}\n\n// Preparar registro de suscripción\nconst subscription = {\n  student_id: paymentData.student_id,\n  course_id: paymentData.course_id,\n  amount_paid: paymentData.amount,\n  payment_status: 'approved',\n  subscription_start: new Date().toISOString(),\n  subscription_end: null, // o calcular según duración del curso\n  transaction_id: paymentData.transaction_id,\n  payment_method: paymentData.payment_method\n};\n\nreturn [{ json: subscription }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        816
      ],
      "id": "8e02b411-699c-4b75-ad7f-c46b09825a29",
      "name": "Procesar Datos de Pago"
    },
    {
      "parameters": {
        "tableId": "subscriptions",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        816
      ],
      "id": "70615c89-91ba-4727-8bcd-0afc0c69dc72",
      "name": "Guardar Suscripción\"",
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const subscription = $input.first().json;\n\nconst enrollment = {\n  student_id: subscription.student_id,\n  course_id: subscription.course_id,\n  enrollment_date: new Date().toISOString(),\n  progress_percentage: 0,\n  completion_status: 'in_progress'\n};\n\nreturn [{ json: enrollment }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        816
      ],
      "id": "4f059a66-6928-4d75-834e-dc71b2c8f8fc",
      "name": "Preparar Inscripción"
    },
    {
      "parameters": {
        "tableId": "enrollments",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        384,
        816
      ],
      "id": "43a32731-798a-437a-807a-474ce88fc843",
      "name": "Crear Inscripción",
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "courses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Crear Inscripción').item.json.course_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        816
      ],
      "id": "3961aeb3-a860-413b-b252-0c3516408297",
      "name": "Obtener Datos Curso",
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Crear Inscripción').item.json.student_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        816
      ],
      "id": "6fcdbf57-8c4a-4f40-954e-85faace66a32",
      "name": "Obtener Datos Estudiante",
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Obtener Datos Estudiante').item.json.email }}",
        "subject": "=✅ Pago Confirmado - {{ $('Obtener Datos Curso').item.json.name }} ¡Bienvenido al curso {{ $('Obtener Datos Curso').item.json.name }}!",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>¡Bienvenido al curso {{ $('Obtener Datos Curso').item.json.name }}!</title>\n    <style>\n        /* Estilos generales para asegurar la compatibilidad */\n        body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }\n        table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }\n        img { -ms-interpolation-mode: bicubic; }\n        a[x-apple-data-detectors] {\n            color: inherit !important;\n            text-decoration: none !important;\n            font-size: inherit !important;\n            font-family: inherit !important;\n            font-weight: inherit !important;\n            line-height: inherit !important;\n        }\n    </style>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; color: #333333;\">\n\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse: collapse;\">\n        <tr>\n            <td align=\"center\" style=\"padding: 20px 0;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"border-collapse: collapse; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\">\n                    \n                    <tr>\n                        <td align=\"center\" style=\"padding: 30px; background-color: #007bff; color: #ffffff; font-size: 24px; font-weight: bold;\">\n                            ¡Bienvenido al curso!\n                        </td>\n                    </tr>\n\n                    <tr>\n                        <td style=\"padding: 40px 30px;\">\n                            <p>Hola <b>{{ $('Obtener Datos Estudiante').item.json.first_name }}</b>, </p>\n\n                            <p>¡Te damos la <b>bienvenida</b> al curso <b>{{ $('Obtener Datos Curso').item.json.name }}</b>! Estamos muy emocionados de que empieces tu viaje de aprendizaje.</p>\n\n                            <hr style=\"border: 0; border-top: 1px solid #eeeeee; margin: 20px 0;\">\n\n                            <p style=\"font-size: 18px; font-weight: bold; color: #007bff;\">\n                                📚 Detalles del Curso:\n                            </p>\n                            <ul style=\"list-style-type: none; padding: 0; margin: 10px 0 20px 0;\">\n                                <li style=\"margin-bottom: 8px;\"><b>Duración:</b> {{ $('Obtener Datos Curso').item.json.duration_days }} días</li>\n                                <li style=\"margin-bottom: 8px;\"><b>Precio:</b> <span style=\"font-weight: bold; color: #28a745;\">${{ $('Obtener Datos Curso').item.json.price }}</span></li>\n                            </ul>\n\n                            <p style=\"font-size: 18px; font-weight: bold; color: #007bff;\">\n                                🎯 Próximos Pasos:\n                            </p>\n                            <ol style=\"padding-left: 20px;\">\n                                <li style=\"margin-bottom: 8px;\">Accede a la plataforma con tu cuenta.</li>\n                                <li style=\"margin-bottom: 8px;\">Explora el contenido del curso a tu propio ritmo.</li>\n                                <li style=\"margin-bottom: 8px;\">Completa las actividades y ¡aprende mucho!</li>\n                            </ol>\n\n                            <div style=\"text-align: center; margin: 30px 0;\">\n                                <a href=\"http://localhost:8501/\" style=\"background-color: #ffc107; color: #333333; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\">\n                                    ACCEDER AL CURSO\n                                </a>\n                            </div>\n                            \n                            <p>¡Te deseamos <b>mucho éxito</b> en tu aprendizaje!</p>\n\n                            <p style=\"margin-top: 30px;\">\n                                Atentamente,<br>\n                                <b>Equipo de Cursos Online</b>\n                            </p>\n                        </td>\n                    </tr>\n\n                    <tr>\n                        <td align=\"center\" style=\"padding: 20px; font-size: 12px; color: #999999; background-color: #eeeeee;\">\n                            Este es un mensaje automático. Por favor, no respondas a este correo.\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1008,
        816
      ],
      "id": "686e9e7f-7ec8-422f-afd2-90730ebaab61",
      "name": "Send a message",
      "webhookId": "3979a0ad-2ecc-4933-8cb9-418d2bc9ee25",
      "credentials": {
        "gmailOAuth2": {
          "id": "s5WeaUvnBRfTF4gQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "path": "verify-certificate/:code",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        1040
      ],
      "id": "86793c11-d2db-4250-b385-359a15fbe721",
      "name": "Webhook Verificación",
      "webhookId": "f414fca8-cbc4-4d4a-ae86-74c21d4b7ea4"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "certificates",
        "filters": {
          "conditions": [
            {
              "keyName": "verification_code",
              "keyValue": "={{ $('Webhook Verificación').item.json.params.code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -128,
        1040
      ],
      "id": "6ff4db12-4628-42b6-b4be-0e19834af9d8",
      "name": "Buscar Certificado",
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6898e46-ade8-468b-8408-713fe813f638",
              "leftValue": "={{ $json.length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        1040
      ],
      "id": "5bd293f1-cf9e-49bf-a3b7-730977ddd6ef",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "students",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Obtener Inscripción').item.json.student_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        544,
        1008
      ],
      "id": "7dec6e50-b1e8-48d6-a63f-5efca1e2b6c6",
      "name": "Obtener Estudiante",
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "enrollments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Buscar Certificado').item.json.enrollment_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        336,
        1008
      ],
      "id": "52094316-1e70-4958-b673-984292c86d17",
      "name": "Obtener Inscripción",
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "courses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Obtener Inscripción').item.json.course_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        1008
      ],
      "id": "e114f00f-dcec-4c4f-8feb-d23d148b2224",
      "name": "Obtener Curso",
      "credentials": {
        "supabaseApi": {
          "id": "udCGg8Yaup9fNAVq",
          "name": "GESTION DE CURSOS"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const certificate = $('Buscar Certificado').item.json;\nconst enrollment = $('Get a row').item.json;\nconst student = $('Get a row1').item.json;\nconst course = $('Get a row2').item.json;\n\nreturn [{\n  json: {\n    valid: true,\n    certificate: {\n      verification_code: certificate.verification_code,\n      issue_date: certificate.issue_date,\n      student_name: `${student.first_name} ${student.last_name}`,\n      course_name: course.name,\n      completion_date: enrollment.enrollment_date\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        1008
      ],
      "id": "4f21ec97-7a7c-4caa-9b4b-304bd53765f6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    valid: false,\n    error: \"Certificado no encontrado\",\n    message: \"El código de verificación no es válido\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        1216
      ],
      "id": "62c70b56-0a0e-4f55-8875-bb0f88a91c9e",
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "Webhook Inscripción": {
      "main": [
        [
          {
            "node": "Es Inscripción?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Inscripción": {
      "main": [
        [
          {
            "node": "Verificar Inscripción Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Inscripción": {
      "main": [
        [
          {
            "node": "Obtener Info Estudiante",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener Info Curso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Info Estudiante": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Obtener Info Curso": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email Bienvenida": {
      "main": [
        [
          {
            "node": "Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Resultado Examen": {
      "main": [
        [
          {
            "node": "Obtener Inscripción del Estudiante\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Certificado": {
      "main": [
        [
          {
            "node": "Enviar Certificado por Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Validar y Limpiar JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Inscripción?": {
      "main": [
        [
          {
            "node": "Procesar Inscripción",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es Corrección Examen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Corrección Examen?": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es Generación Certificado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Generación Certificado?": {
      "main": [
        [
          {
            "node": "Obtener Datos de Inscripción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Enviar Email Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Inscripción Existente": {
      "main": [
        [
          {
            "node": "¿Ya está inscrito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Ya está inscrito?": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Inscripción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y Limpiar JSON": {
      "main": [
        [
          {
            "node": "Guardar Resultado Examen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Inscripción del Estudiante\"": {
      "main": [
        [
          {
            "node": "Verificar si Completó Curso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar si Completó Curso": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Obtener Datos de Inscripción",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Datos de Inscripción": {
      "main": [
        [
          {
            "node": "Obtener Datos del Estudiante\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Datos del Estudiante\"": {
      "main": [
        [
          {
            "node": "Obtener Datos del Curso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Datos del Curso": {
      "main": [
        [
          {
            "node": "Guardar Certificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Certificado por Email": {
      "main": [
        [
          {
            "node": "Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Pago": {
      "main": [
        [
          {
            "node": "Procesar Datos de Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Datos de Pago": {
      "main": [
        [
          {
            "node": "Guardar Suscripción\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Suscripción\"": {
      "main": [
        [
          {
            "node": "Preparar Inscripción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Inscripción": {
      "main": [
        [
          {
            "node": "Crear Inscripción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Inscripción": {
      "main": [
        [
          {
            "node": "Obtener Datos Estudiante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Datos Curso": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Datos Estudiante": {
      "main": [
        [
          {
            "node": "Obtener Datos Curso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Verificación": {
      "main": [
        [
          {
            "node": "Buscar Certificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Certificado": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Obtener Inscripción",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Estudiante": {
      "main": [
        [
          {
            "node": "Obtener Curso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Inscripción": {
      "main": [
        [
          {
            "node": "Obtener Estudiante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Curso": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff3a4e52de0da1c5445eee97b0198e88fcadefdf6b643af51014d48a9250b42b"
  }
}